adaptive memory system.json
{
  "name": "adaptive memory system",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -16
      ],
      "id": "8e24edc5-3987-4a24-94b5-08d28444d1e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MKxO5uI5v-bC-D6P9Cc3tpN0h0YcSjPvOFuu99m360Q",
          "mode": "list",
          "cachedResultName": "ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKxO5uI5v-bC-D6P9Cc3tpN0h0YcSjPvOFuu99m360Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKxO5uI5v-bC-D6P9Cc3tpN0h0YcSjPvOFuu99m360Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -16
      ],
      "id": "97639277-96e2-4251-b0d8-352092b37330",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w9a6ZDHbiLNylvmD",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf09f698-224e-4852-8149-4ff03e871e6d",
              "leftValue": "={{ String($json[\"Sent1\"]) }}",
              "rightValue": "=No",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "35d031db-c1fd-4ac0-8121-035d00ca0610",
              "leftValue": "=$json[\"shouldSend\"]",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -16
      ],
      "id": "17c6bb44-c34d-401f-9b03-e821f71107ec",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "chandanar0678@gmail.com",
        "subject": "=Revise Now: {{$json[\"Lesson\"]}}",
        "message": "=Revise: {{$json[\"Lesson\"]}}\nReminder Stage: {{$json[\"remindersToSend\"].join(\", \")}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        -112
      ],
      "id": "ff712065-e370-468b-8ad3-75b83153262f",
      "name": "Send a message",
      "webhookId": "215bdefd-4d18-4238-9328-a8f34eddff99",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEtOwNrUpPOOJG8I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chandanar0678@gmail.com",
        "subject": "=Revise Now: {{$json[\"Lesson\"]}}",
        "emailType": "text",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        64
      ],
      "id": "1f7ead82-5259-4016-a9ad-122c200bf8c6",
      "name": "Send a message1",
      "webhookId": "1bf71001-f88d-411f-97c2-078728de6800",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEtOwNrUpPOOJG8I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const now = new Date();\n  const reminders = [];\n\n  for (let i = 1; i <= 3; i++) {\n    const rawTime = item.json[`R${i}`];\n    const sent = item.json[`Sent${i}`] === \"Yes\";\n\n    let time = null;\n\n    if (rawTime) {\n      const [date, t] = rawTime.split(\" \");\n      const [day, month, year] = date.split(\"/\");\n\n      time = new Date(`${year}-${month}-${day}T${t}`);\n    }\n\n    if (time && time <= now && !sent) {\n      reminders.push(`R${i}`);\n    }\n  }\n\n  return {\n    json: {\n      ...item.json,\n      remindersToSend: reminders\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -16
      ],
      "id": "e1f7757a-0056-4ab7-8000-e23bbd2ee114",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      row_number: item.json.row_number,\n      Sent1: \"Yes\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -112
      ],
      "id": "477cd846-ba7c-46da-b232-5b0b1bdea200",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MKxO5uI5v-bC-D6P9Cc3tpN0h0YcSjPvOFuu99m360Q",
          "mode": "list",
          "cachedResultName": "ML",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKxO5uI5v-bC-D6P9Cc3tpN0h0YcSjPvOFuu99m360Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKxO5uI5v-bC-D6P9Cc3tpN0h0YcSjPvOFuu99m360Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Code in JavaScript').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -112
      ],
      "id": "1773eb11-8361-4253-95e5-74599c18ba8e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w9a6ZDHbiLNylvmD",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chandanar0678@gmail.com",
        "subject": "adaptive study reminder",
        "emailType": "text",
        "message": "it's time for your revision",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        -112
      ],
      "id": "27e9e4fc-4e44-489f-82c7-f5fcbaf3dc50",
      "name": "Send a message2",
      "webhookId": "f81db579-8f10-41ef-86ca-40b480a6a5bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEtOwNrUpPOOJG8I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "34fd1c83-dd59-4f9a-8900-57c70afb1c6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2153c51b69dfb7c42ff4aa84b5fc3fe9bf7482b4e401c6730ca9cf87486a40f"
  },
  "id": "GWJqnoCS8LbOj84P",
  "tags": []
}